<navigation></navigation>

<main class="main">
  <div [ngClass]="mobileView ? 'mobile-content' : 'desktop-content'">
    <h1 class="heading"> Is This True: "{{claim}}"?</h1>

    <div *ngIf="isLoading" class="loading">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="loading-text"> Please give ChatGPT up to a minute to process your question. </p>
    </div>

    <div *ngIf="!isLoading">
      <div *ngIf="failedProcessingJson" class="response-text">
        <p> Sorry about that, ChatGPT did not return a response in an expected format. </p>
        <p> This was the response from ChatGPT: </p>
        <p> {{gptResponse}} </p>
      </div>

      <div *ngIf="failedApiCall" class="response-text">
        <p> Sorry about that, ChatGPT encountered an error processing your question. </p>
        <p> Error Code: </p>
        <p> {{errResponse}} </p>
      </div>

      <div *ngIf="!failedProcessingJson && !failedApiCall">
        <h1 class="heading"> {{gptJson['IsThisTrue']}} </h1>
        <p> {{gptJson['Justification']}} </p>

        <h1 class="heading"> Sources Supporting: </h1>
        <li *ngFor="let supporting of gptJson['Supporting'];">
          <p> {{getSupportOpposeList(supporting)}} </p>
        </li>
        <p *ngIf="gptJson['Supporting'].length === 0"> No souces supporting. </p>

        <h1 class="heading"> Sources Opposing: </h1>
        <li *ngFor="let opposing of gptJson['Opposing'];">
          <p> {{getSupportOpposeList(opposing)}} </p>
        </li>
        <p *ngIf="gptJson['Opposing'].length === 0"> No souces opposing. </p>

      </div>
      <button class="home-button" (click)="navigateHome()">Search Again</button>
    </div>
  </div>
</main>
