<navigation></navigation>

<main class="main">
  <div class="content">
    <h1 class="heading"> Is This True: "{{claim}}"?</h1>

    <div *ngIf="isLoading" class="loading">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h4 class="loading-text"> Please give ChatGPT up to a minute to process your question. </h4>
    </div>

    <div *ngIf="!isLoading">
      <div *ngIf="failedProcessingJson" class="response-text">
        <h4> Sorry about that, ChatGPT did not return a response in an expected format. </h4>
        <h4> This was the response from ChatGPT: </h4>
        <h4> {{gptResponse}} </h4>
      </div>

      <div *ngIf="!failedProcessingJson">
        <h1 class="heading"> {{gptJson['IsThisTrue']}} </h1>
        <h4> {{gptJson['Justification']}} </h4>

        <h1 class="heading"> Sources Supporting: </h1>
        <li *ngFor="let supporting of gptJson['Supporting'];">
          <h4> {{supporting}} </h4>
        </li>

        <h1 class="heading"> Sources Opposing: </h1>
        <li *ngFor="let opposing of gptJson['Opposing'];">
          <h4> {{opposing}} </h4>
        </li>

      </div>
      <button class="home-button" (click)="navigateHome()">Search Again</button>
    </div>
  </div>
</main>
